In [2]:
from os import environ as env
import boto3
import yfinance as yf
import pandas as pd
from datetime import datetime
from urllib.request import urlopen
from contextlib import closing
import json
import traceback
import wget

In [38]:
sep = '\n--------------------------------------------------------------------------------------------\n'

all_company_names = dict()

sp_table = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
sp_df = sp_table[0]
sp_df['Symbol'] = sp_df['Symbol'].str.replace('.','')
sp_company_names = dict(zip(sp_df.Symbol,sp_df.Security))

nsdq_table = pd.read_html("https://en.wikipedia.org/wiki/NASDAQ-100")
nsdq_df = nsdq_table[2]
nsdq_df['Ticker'] = nsdq_df['Ticker'].str.replace('.','')
nsdq_df.rename(columns={"Ticker": "Symbol", "Company": "Security"}, inplace=True)
nsdq_company_names = dict(zip(nsdq_df.Symbol, nsdq_df.Security))

link = 'ftp://ftp.nasdaqtrader.com/SymbolDirectory/nasdaqlisted.txt'
wget.download(link,  out='tmp')
nsdq_full_df = pd.read_csv('tmp/nasdaqlisted.txt', sep='|', header=0)
nsdq_full_df.drop(nsdq_full_df.tail(1).index,inplace=True)
nsdq_full_company_names = dict(zip(nsdq_full_df.Symbol,nsdq_full_df['Security Name']))
for k,v in nsdq_full_company_names.items():
    nsdq_full_company_names[k] = v.split(' - ')[0]

for d in [sp_company_names, nsdq_company_names, nsdq_full_company_names]:
    all_company_names.update(d)


def calc_stock(high, current):
    """
    :param high: float
    :param current: float
    :return: ratio: float
    """
    ratio = round(((current - high) / high) * 100, 2)
    return ratio


def create_message(pairs, mode='personal', company_names=all_company_names, period="1y"):
    """
    :param pairs: list: contains ranked pairs
    :return: message: str: string of ranked pairs
    """
    if period.lower() in ["daily", "weekly", "monthly"]:
        message = f"\n{mode.upper()} 25 {period.upper()} BIGGEST LOSERS" + sep
    else:
        message = f"\nFULL {mode.upper()} ORDERED RATIOS PAST {period.upper()}" + sep
    
    for k,v in pairs:
        try:
            company_name = company_names[k]
            new_pair = f"{k} ({company_name}) : {v}"
            message += new_pair + "\n"
        except Exception as e:
            print(e)
            print(f"Couldn't find {k} in company_names")

    return message


def publish_message_sns(message):
    """
    :param message: str: message to be sent to SNS
    :return: None
    """
    sns_arn = env.get('SNS_ARN').strip()
    sns_client = boto3.client('sns')
    try:
        response = sns_client.publish(
            TopicArn=sns_arn,
            Message=message
        )

    except Exception as e:
        print(f"ERROR PUBLISHING MESSAGE TO SNS: {e}")


def get_data(tickers_list, period, company_names=all_company_names):
    """
    :param tickers: str: stock ticker string
    :param period: str: valid date period for comparison
    :return: temp_string, delta: str, float: stock printing statements and ratio are returned
    """
    pairs = dict()
    temp_string = ""
    tickers = " ".join([x.upper() for x in tickers_list]).strip()
    stocks = yf.Tickers(tickers)
    data = stocks.history(env.get('PERIOD', period))['Close']
    
    print(data.head())
    print(data.tail())
    
    for ticker in tickers_list:
        try:
            df = data[ticker]
            df.dropna(inplace=True)
            close = df[-1]                   
            high = max(df)
            delta = calc_stock(high, close)
            pairs[ticker] = delta

        except Exception as e:
            print(f"Couldn't find {ticker} in data")
    return pairs


def read_tickers(mode='personal', period='1y'):
    """
    :param mode: str: personal will use personal_portfolio_stock_tickers.txt. Any other mode will simply use the S&P500
    :param period: str: valid period.
    :return: sorted(pairs.items(), key=lambda x: x[1]): str, list: string for message and sorted dict in list
    """    
    company_names = dict()
    company_names.update(sp_company_names)
    company_names.update(nsdq_company_names)
    
    if mode.lower() == 'personal':
        tickers_list = []
        print(f"\nRunning program on personal portfolio with period {period}...\n")
        with open('deployment/personal_portfolio_stock_tickers.txt', 'r') as f:
            while True:
                ticker = (f.readline()).strip()
                if ticker == "":
                    break
                tickers_list.append(ticker)
                if not ticker:
                    break
            try:
                pairs = get_data(tickers_list, period)

            except Exception as e:
                print(e)
                print(f"ERROR WITH TICKER {ticker}: {e}")

    else:
        print(f"\nRunning program on full {mode.lower()} with period {period}...\n")
        
        if mode.lower() == 'nasdaq':
            tickers_list = [x for x in nsdq_df.Symbol]
        else:
            tickers_list = [x for x in sp_df.Symbol]

        pairs = get_data(tickers_list, period)
        
    return sorted(pairs.items(), key=lambda x: x[1])


def index_checker():
    final_string = f"""Checked indexes and stocks at {datetime.utcnow()} UTC.\n\n"""
    final_string += """\nINDEXES""" + sep

    try:
        url = "https://financialmodelingprep.com/api/v3/majors-indexes/"
        print(f"Attempting get data from {url}")
        with closing(urlopen(url)) as responseData:
            json_data = responseData.read()
            deserialised_data = json.loads(json_data)
        market_indicator_total = 0.0
        market_indicator_ratio = 0.0
        for ticker in deserialised_data['majorIndexesList']:
            ticker_name = ticker['ticker']
            price = ticker['price']
            price_change = ticker['changes']
            price_change_ratio = (price_change / price) * 100
            full_ticker_name = ticker['indexName']
            change_float = float(price_change)
            market_indicator_total += change_float
            market_indicator_ratio += price_change_ratio
            if change_float > 0:
                price_change_type = 'upward'
            elif change_float < 0:
                price_change_type = 'downward'
            else:
                price_change_type = 'neutral'

            final_string += f"The {full_ticker_name} index (ticker:{ticker_name}) trended {price_change_type} {price_change} points, {price_change_ratio:.2f}%.\n"

        final_string += f"\nAll indexes moved a cumulative sum of {market_indicator_total:.2f} points and {market_indicator_ratio:.2f}%\n"

    except Exception as e:
        print(e)

    return final_string


def handler():
    """
    This function drives the AWS lambda. Requires 1 env var to work correctly: SNS_TOPIC which represents the topic arn to which
    you want to publish. 
    """
    message = index_checker()
    message += "\nRATIOS" + sep + "\nRatios can be interpreted as percentages ranging from -99.99 representing a total loss of value, to 0.00 which represents a stock is at its high point for the period selected.\n"
    
    daily_nsdq = read_tickers(mode="NASDAQ", period="2d")
    daily_nsdq = daily_nsdq[:24]

    message += create_message(daily_nsdq, mode='NASDAQ', period="daily")
 
    daily_snp = read_tickers(mode="S&P", period="2d")[:25]
    message += create_message(daily_snp, mode='S&P', period="daily")
    
    weekly_nsdq = read_tickers(mode="NASDAQ", period="1w")[:25]
    message += create_message(weekly_nsdq, mode='NASDAQ', period="weekly")
    
    weekly_snp = read_tickers(mode="S&P", period="6d")[:25]
    message += create_message(weekly_snp, mode='S&P', period="weekly")

    monthly_nsdq = read_tickers(mode="NASDAQ", period="6d")[:25]
    message += create_message(monthly_nsdq, mode='NASDAQ', period="monthly")

    monthly_snp = read_tickers(mode="S&P", period="1mo")[:25]
    message += create_message(monthly_snp, mode='S&P', period="monthly")
    
    personal_pairs = read_tickers(mode='personal', period=env.get('PERIOD', "1y"))

    message += create_message(personal_pairs, mode='personal', period="1y")
    
    nsdq_pairs = read_tickers(mode='NASDAQ', period=env.get('PERIOD', "1y"))
    message += create_message(nsdq_pairs, mode='NASDAQ', period="1y")
    
    snp_pairs = read_tickers(mode='S&P', period=env.get('PERIOD', "1y"))
    message += create_message(snp_pairs, mode='S&P', period="1y")
    
    print(message)
    
#     publish_message_sns(message)

In [ ]:
handler()

Attempting get data from https://financialmodelingprep.com/api/v3/majors-indexes/

Running program on full nasdaq with period 2d...

[*********************100%***********************]  103 of 103 completed

1 Failed download:
- ZOOM: No data found for this date range, symbol may be delisted
                  AAPL        ADBE         ADI         ADP        ADSK  \
Date
2020-05-04  293.160004  349.109985  103.400002  144.479996  177.800003
2020-05-05  297.559998  356.130005  105.940002  145.820007  180.490005

                  ALGN        ALXN       AMAT        AMD        AMGN  ...  \
Date                                                                  ...
2020-05-04  210.139999  103.839996  47.580002  52.560001  230.910004  ...
2020-05-05  208.610001   98.250000  48.849998  52.189999  236.360001  ...

                  ULTA        VRSK        VRSN        VRTX        WBA  \
Date
2020-05-04  215.479996  154.460007  208.839996  264.690002  42.450001
2020-05-05  218.210007  157.490005  210.550003  272.329987  42.020000

                  WDAY        WDC        XEL       XLNX  ZOOM
Date
2020-05-04  148.470001  39.669998  62.389999  83.239998   NaN
2020-05-05  152.179993  40.340000  63.279999  83.500000   NaN

[2 rows x 103 columns]
                  AAPL        ADBE         ADI         ADP        ADSK  \
Date
2020-05-04  293.160004  349.109985  103.400002  144.479996  177.800003
2020-05-05  297.559998  356.130005  105.940002  145.820007  180.490005

                  ALGN        ALXN       AMAT        AMD        AMGN  ...  \
Date                                                                  ...
2020-05-04  210.139999  103.839996  47.580002  52.560001  230.910004  ...
2020-05-05  208.610001   98.250000  48.849998  52.189999  236.360001  ...

                  ULTA        VRSK        VRSN        VRTX        WBA  \
Date
2020-05-04  215.479996  154.460007  208.839996  264.690002  42.450001
2020-05-05  218.210007  157.490005  210.550003  272.329987  42.020000

                  WDAY        WDC        XEL       XLNX  ZOOM
Date
2020-05-04  148.470001  39.669998  62.389999  83.239998   NaN
2020-05-05  152.179993  40.340000  63.279999  83.500000   NaN

[2 rows x 103 columns]
Couldn't find ZOOM in data

Running program on full s&p with period 2d...

[*********************100%***********************]  505 of 505 completed
                    A   AAL         AAP        AAPL       ABBV        ABC  \
Date
2020-05-04  74.559998  9.82  120.110001  293.160004  81.860001  86.419998
2020-05-05  76.370003  9.51  121.190002  297.559998  85.370003  87.970001

                  ABMD        ABT         ACN        ADBE  ...       XLNX  \
Date                                                       ...
2020-05-04  181.000000  89.830002  179.529999  349.109985  ...  83.239998
2020-05-05  186.220001  93.029999  181.619995  356.130005  ...  83.500000

                  XOM       XRAY        XRX        XYL        YUM         ZBH  \
Date
2020-05-04  44.880001  39.599998  16.820000  68.550003  83.089996  114.070000
2020-05-05  44.830002  40.669998  17.030001  65.050003  83.279999  118.019997

                  ZBRA   ZION         ZTS
Date
2020-05-04  228.770004  30.67  127.440002
2020-05-05  233.149994  30.18  131.300003

[2 rows x 505 columns]
                    A   AAL         AAP        AAPL       ABBV        ABC  \
Date
2020-05-04  74.559998  9.82  120.110001  293.160004  81.860001  86.419998
2020-05-05  76.370003  9.51  121.190002  297.559998  85.370003  87.970001

                  ABMD        ABT         ACN        ADBE  ...       XLNX  \
Date                                                       ...
2020-05-04  181.000000  89.830002  179.529999  349.109985  ...  83.239998
2020-05-05  186.220001  93.029999  181.619995  356.130005  ...  83.500000

                  XOM       XRAY        XRX        XYL        YUM         ZBH  \
Date
2020-05-04  44.880001  39.599998  16.820000  68.550003  83.089996  114.070000
2020-05-05  44.830002  40.669998  17.030001  65.050003  83.279999  118.019997

                  ZBRA   ZION         ZTS
Date
2020-05-04  228.770004  30.67  127.440002
2020-05-05  233.149994  30.18  131.300003

[2 rows x 505 columns]

Running program on full nasdaq with period 1w...

[*********************100%***********************]  103 of 103 completed

1 Failed download:
- ZOOM: No data found for this date range, symbol may be delisted
                  AAPL        ADBE         ADI         ADP        ADSK  \
Date
2020-05-05  297.559998  356.130005  105.940002  145.820007  180.490005
2020-05-05  297.559998  356.130005  105.940002  145.820007  180.490005

                  ALGN   ALXN       AMAT        AMD        AMGN  ...  \
Date                                                             ...
2020-05-05  208.610001  98.25  48.849998  52.189999  236.360001  ...
2020-05-05  208.610001  98.25  48.849998  52.189999  236.360001  ...

                  ULTA        VRSK        VRSN        VRTX    WBA        WDAY  \
Date
2020-05-05  218.210007  157.490005  210.550003  272.329987  42.02  152.179993
2020-05-05  218.210007  157.490005  210.550003  272.329987  42.02  152.179993

                  WDC        XEL  XLNX  ZOOM
Date
2020-05-05  40.340000  63.279999  83.5   NaN
2020-05-05  40.334999  63.275002  83.5   NaN

[2 rows x 103 columns]
                  AAPL        ADBE         ADI         ADP        ADSK  \
Date
2020-05-05  297.559998  356.130005  105.940002  145.820007  180.490005
2020-05-05  297.559998  356.130005  105.940002  145.820007  180.490005

                  ALGN   ALXN       AMAT        AMD        AMGN  ...  \
Date                                                             ...
2020-05-05  208.610001  98.25  48.849998  52.189999  236.360001  ...
2020-05-05  208.610001  98.25  48.849998  52.189999  236.360001  ...

                  ULTA        VRSK        VRSN        VRTX    WBA        WDAY  \
Date
2020-05-05  218.210007  157.490005  210.550003  272.329987  42.02  152.179993
2020-05-05  218.210007  157.490005  210.550003  272.329987  42.02  152.179993

                  WDC        XEL  XLNX  ZOOM
Date
2020-05-05  40.340000  63.279999  83.5   NaN
2020-05-05  40.334999  63.275002  83.5   NaN

[2 rows x 103 columns]
Couldn't find ZOOM in data

Running program on full s&p with period 6d...

[*********************100%***********************]  505 of 505 completed
                    A    AAL         AAP        AAPL       ABBV        ABC  \
Date
2020-04-28  75.449997  11.26  120.970001  278.579987  82.760002  89.529999
2020-04-29  78.720001  12.63  124.910004  287.730011  83.760002  89.339996
2020-04-30  76.660004  12.01  120.910004  293.799988  82.199997  89.660004
2020-05-01  74.209999  10.64  116.589996  289.070007  82.839996  86.379997
2020-05-04  74.559998   9.82  120.110001  293.160004  81.860001  86.419998

                  ABMD        ABT         ACN        ADBE  ...       XLNX  \
Date                                                       ...
2020-04-28  164.399994  91.459999  178.360001  333.450012  ...  85.889999
2020-04-29  169.279999  92.279999  187.559998  349.170013  ...  91.699997
2020-04-30  191.250000  92.089996  185.190002  353.640015  ...  87.400002
2020-05-01  183.490005  89.849998  180.089996  343.839996  ...  82.989998
2020-05-04  181.000000  89.830002  179.529999  349.109985  ...  83.239998

                  XOM       XRAY        XRX        XYL        YUM         ZBH  \
Date
2020-04-28  44.970001  41.630001  17.740000  73.459999  88.269997  114.739998
2020-04-29  47.459999  44.200001  19.290001  73.790001  87.459999  120.860001
2020-04-30  46.470001  42.439999  18.290001  71.900002  86.430000  119.699997
2020-05-01  43.139999  40.290001  17.030001  69.290001  83.809998  116.250000
2020-05-04  44.880001  39.599998  16.820000  68.550003  83.089996  114.070000

                  ZBRA       ZION         ZTS
Date
2020-04-28  228.479996  31.330000  123.000000
2020-04-29  244.970001  32.139999  125.550003
2020-04-30  229.660004  31.610001  129.309998
2020-05-01  225.550003  30.900000  127.529999
2020-05-04  228.770004  30.670000  127.440002

[5 rows x 505 columns]
                    A    AAL         AAP        AAPL       ABBV        ABC  \
Date
2020-04-29  78.720001  12.63  124.910004  287.730011  83.760002  89.339996
2020-04-30  76.660004  12.01  120.910004  293.799988  82.199997  89.660004
2020-05-01  74.209999  10.64  116.589996  289.070007  82.839996  86.379997
2020-05-04  74.559998   9.82  120.110001  293.160004  81.860001  86.419998
2020-05-05  76.370003   9.51  121.190002  297.559998  85.370003  87.970001

                  ABMD        ABT         ACN        ADBE  ...       XLNX  \
Date                                                       ...
2020-04-29  169.279999  92.279999  187.559998  349.170013  ...  91.699997
2020-04-30  191.250000  92.089996  185.190002  353.640015  ...  87.400002
2020-05-01  183.490005  89.849998  180.089996  343.839996  ...  82.989998
2020-05-04  181.000000  89.830002  179.529999  349.109985  ...  83.239998
2020-05-05  186.220001  93.029999  181.619995  356.130005  ...  83.500000

                  XOM       XRAY        XRX        XYL        YUM         ZBH  \
Date
2020-04-29  47.459999  44.200001  19.290001  73.790001  87.459999  120.860001
2020-04-30  46.470001  42.439999  18.290001  71.900002  86.430000  119.699997
2020-05-01  43.139999  40.290001  17.030001  69.290001  83.809998  116.250000
2020-05-04  44.880001  39.599998  16.820000  68.550003  83.089996  114.070000
2020-05-05  44.830002  40.669998  17.030001  65.050003  83.279999  118.019997

                  ZBRA       ZION         ZTS
Date
2020-04-29  244.970001  32.139999  125.550003
2020-04-30  229.660004  31.610001  129.309998
2020-05-01  225.550003  30.900000  127.529999
2020-05-04  228.770004  30.670000  127.440002
2020-05-05  233.149994  30.180000  131.300003

[5 rows x 505 columns]

Running program on full nasdaq with period 6d...

[*********************100%***********************]  103 of 103 completed

1 Failed download:
- ZOOM: No data found for this date range, symbol may be delisted
                  AAPL        ADBE         ADI         ADP        ADSK  \
Date
2020-04-28  278.579987  333.450012  107.610001  143.009995  177.309998
2020-04-29  287.730011  349.170013  113.339996  145.839996  187.899994
2020-04-30  293.799988  353.640015  109.599998  146.690002  187.130005
2020-05-01  289.070007  343.839996  103.639999  140.419998  174.899994
2020-05-04  293.160004  349.109985  103.400002  144.479996  177.800003

                  ALGN        ALXN       AMAT        AMD        AMGN  ...  \
Date                                                                  ...
2020-04-28  203.509995  106.919998  50.419998  55.509998  237.669998  ...
2020-04-29  220.580002  108.449997  54.340000  53.660000  235.690002  ...
2020-04-30  214.850006  107.470001  49.680000  52.389999  239.220001  ...
2020-05-01  203.259995  103.910004  46.889999  49.880001  230.979996  ...
2020-05-04  210.139999  103.839996  47.580002  52.560001  230.910004  ...

                  ULTA        VRSK        VRSN        VRTX        WBA  \
Date
2020-04-28  218.679993  151.789993  211.070007  256.959991  44.650002
2020-04-29  226.160004  153.070007  211.389999  251.050003  45.360001
2020-04-30  217.919998  152.830002  209.490005  251.199997  43.290001
2020-05-01  214.279999  153.449997  205.020004  254.899994  41.660000
2020-05-04  215.479996  154.460007  208.839996  264.690002  42.450001

                  WDAY        WDC        XEL       XLNX  ZOOM
Date
2020-04-28  145.070007  44.700001  66.169998  85.889999   NaN
2020-04-29  154.770004  47.730000  65.080002  91.699997   NaN
2020-04-30  153.899994  46.080002  63.560001  87.400002   NaN
2020-05-01  146.660004  40.480000  62.180000  82.989998   NaN
2020-05-04  148.470001  39.669998  62.389999  83.239998   NaN

[5 rows x 103 columns]
                  AAPL        ADBE         ADI         ADP        ADSK  \
Date
2020-04-29  287.730011  349.170013  113.339996  145.839996  187.899994
2020-04-30  293.799988  353.640015  109.599998  146.690002  187.130005
2020-05-01  289.070007  343.839996  103.639999  140.419998  174.899994
2020-05-04  293.160004  349.109985  103.400002  144.479996  177.800003
2020-05-05  297.559998  356.130005  105.940002  145.820007  180.490005

                  ALGN        ALXN       AMAT        AMD        AMGN  ...  \
Date                                                                  ...
2020-04-29  220.580002  108.449997  54.340000  53.660000  235.690002  ...
2020-04-30  214.850006  107.470001  49.680000  52.389999  239.220001  ...
2020-05-01  203.259995  103.910004  46.889999  49.880001  230.979996  ...
2020-05-04  210.139999  103.839996  47.580002  52.560001  230.910004  ...
2020-05-05  208.610001   98.250000  48.849998  52.189999  236.360001  ...

                  ULTA        VRSK        VRSN        VRTX        WBA  \
Date
2020-04-29  226.160004  153.070007  211.389999  251.050003  45.360001
2020-04-30  217.919998  152.830002  209.490005  251.199997  43.290001
2020-05-01  214.279999  153.449997  205.020004  254.899994  41.660000
2020-05-04  215.479996  154.460007  208.839996  264.690002  42.450001
2020-05-05  218.210007  157.490005  210.550003  272.329987  42.020000

                  WDAY        WDC        XEL       XLNX  ZOOM
Date
2020-04-29  154.770004  47.730000  65.080002  91.699997   NaN
2020-04-30  153.899994  46.080002  63.560001  87.400002   NaN
2020-05-01  146.660004  40.480000  62.180000  82.989998   NaN
2020-05-04  148.470001  39.669998  62.389999  83.239998   NaN
2020-05-05  152.179993  40.340000  63.279999  83.500000   NaN

[5 rows x 103 columns]
Couldn't find ZOOM in data

Running program on full s&p with period 1mo...

[*********************100%***********************]  505 of 505 completed
                    A    AAL         AAP        AAPL       ABBV        ABC  \
Date
2020-04-06  74.360001   9.50   95.809998  262.470001  74.617165  86.290001
2020-04-07  74.029999  10.22   99.440002  259.429993  74.282150  87.199997
2020-04-08  76.690002  11.33  102.519997  266.070007  77.405571  88.330002
2020-04-09  78.330002  12.51  106.860001  267.989990  78.578087  87.809998
2020-04-13  76.209999  11.56  110.000000  273.250000  79.120003  85.449997

                  ABMD        ABT         ACN        ADBE  ...       XLNX  \
Date                                                       ...
2020-04-06  150.259995  82.383087  165.304123  319.130005  ...  84.650002
2020-04-07  152.779999  81.586441  163.382797  308.929993  ...  83.949997
2020-04-08  156.270004  84.593773  170.958603  317.179993  ...  84.500000
2020-04-09  160.080002  85.679207  177.120804  318.700012  ...  83.110001
2020-04-13  156.389999  85.489998  171.794846  320.649994  ...  83.300003

                  XOM       XRAY        XRX        XYL        YUM         ZBH  \
Date
2020-04-06  40.470001  37.730000  18.709999  65.190002  70.500000   97.940002
2020-04-07  41.240002  38.090000  18.610001  66.190002  71.349998  101.910004
2020-04-08  43.849998  39.580002  19.260000  69.089996  75.370003  111.279999
2020-04-09  43.130001  41.869999  19.360001  69.339996  80.370003  110.360001
2020-04-13  42.759998  40.240002  18.190001  68.190002  77.059998  108.019997

                  ZBRA       ZION         ZTS
Date
2020-04-06  191.850006  26.930000  126.585182
2020-04-07  192.360001  28.040001  125.906281
2020-04-08  196.649994  29.440001  127.044441
2020-04-09  201.220001  31.000000  128.542023
2020-04-13  197.910004  30.080000  122.751381

[5 rows x 505 columns]
                    A    AAL         AAP        AAPL       ABBV        ABC  \
Date
2020-04-29  78.720001  12.63  124.910004  287.730011  83.760002  89.339996
2020-04-30  76.660004  12.01  120.910004  293.799988  82.199997  89.660004
2020-05-01  74.209999  10.64  116.589996  289.070007  82.839996  86.379997
2020-05-04  74.559998   9.82  120.110001  293.160004  81.860001  86.419998
2020-05-05  76.370003   9.51  121.190002  297.559998  85.370003  87.970001

                  ABMD        ABT         ACN        ADBE  ...       XLNX  \
Date                                                       ...
2020-04-29  169.279999  92.279999  187.559998  349.170013  ...  91.699997
2020-04-30  191.250000  92.089996  185.190002  353.640015  ...  87.400002
2020-05-01  183.490005  89.849998  180.089996  343.839996  ...  82.989998
2020-05-04  181.000000  89.830002  179.529999  349.109985  ...  83.239998
2020-05-05  186.220001  93.029999  181.619995  356.130005  ...  83.500000

                  XOM       XRAY        XRX        XYL        YUM         ZBH  \
Date
2020-04-29  47.459999  44.200001  19.290001  73.790001  87.459999  120.860001
2020-04-30  46.470001  42.439999  18.290001  71.900002  86.430000  119.699997
2020-05-01  43.139999  40.290001  17.030001  69.290001  83.809998  116.250000
2020-05-04  44.880001  39.599998  16.820000  68.550003  83.089996  114.070000
2020-05-05  44.830002  40.669998  17.030001  65.050003  83.279999  118.019997

                  ZBRA       ZION         ZTS
Date
2020-04-29  244.970001  32.139999  125.550003
2020-04-30  229.660004  31.610001  129.309998
2020-05-01  225.550003  30.900000  127.529999
2020-05-04  228.770004  30.670000  127.440002
2020-05-05  233.149994  30.180000  131.300003

[5 rows x 505 columns]

Running program on personal portfolio with period 1y...

[*********************100%***********************]  65 of 65 completed
                  AAPL       ABBV        ABT        ADBE         AGN  \
Date
2019-05-06  205.786469  73.719032  77.800995  283.660004  144.594376
2019-05-07  200.239075  72.500610  75.675659  277.070007  138.331512
2019-05-08  200.278534  72.537811  74.996727  276.769989  137.049576
2019-05-09  198.126709  72.463409  75.193520  275.790009  137.255066
2019-05-10  195.381973  72.035568  75.223038  278.480011  137.157211

                  AMC         AMZN        ASML         AXP        BABA  ...  \
Date                                                                    ...
2019-05-06  13.932733  1950.550049  203.253723  117.452888  188.240005  ...
2019-05-07  14.026430  1921.000000  198.815567  116.350601  181.429993  ...
2019-05-08  13.726600  1917.770020  199.548630  115.632149  179.589996  ...
2019-05-09  12.770891  1899.869995  197.131439  115.405785  179.039993  ...
2019-05-10  12.948915  1889.979980  196.883789  116.586800  178.000000  ...

                   SQ          T       TMUS        USB           V         VZ  \
Date
2019-05-06  70.139999  28.824785  74.459999  51.577656  161.293167  54.576698
2019-05-07  68.419998  28.768244  74.000000  50.823429  159.235779  54.308178
2019-05-08  67.250000  28.551517  72.629997  50.494659  159.782410  54.068428
2019-05-09  66.389999  28.626900  74.250000  50.397964  158.838196  54.164330
2019-05-10  65.989998  28.853052  75.230003  50.446312  159.732727  54.576698

                  WFC         WMT  WORK         ZM
Date
2019-05-06  46.486675  100.521690   NaN  78.239998
2019-05-07  45.277233   99.383652   NaN  73.330002
2019-05-08  45.114056   98.402557   NaN  77.680000
2019-05-09  45.298195   98.175713   NaN  75.209999
2019-05-10  45.695549  100.513229   NaN  79.629997

[5 rows x 65 columns]
                  AAPL       ABBV        ABT        ADBE         AGN   AMC  \
Date
2020-04-29  287.730011  83.760002  92.279999  349.170013  189.289993  5.19
2020-04-30  293.799988  82.199997  92.089996  353.640015  187.339996  4.92
2020-05-01  289.070007  82.839996  89.849998  343.839996  189.740005  4.57
2020-05-04  293.160004  81.860001  89.830002  349.109985  188.699997  4.30
2020-05-05  297.559998  85.370003  93.029999  356.130005  192.779999  3.89

                   AMZN        ASML        AXP        BABA  ...         SQ  \
Date                                                        ...
2020-04-29  2372.709961  303.709991  96.120003  206.699997  ...  65.769997
2020-04-30  2474.000000  288.429993  91.250000  202.669998  ...  65.139999
2020-05-01  2286.040039  279.059998  88.320000  194.479996  ...  63.000000
2020-05-04  2315.989990  283.179993  86.379997  191.149994  ...  63.689999
2020-05-05  2317.800049  288.350006  86.739998  195.020004  ...  66.690002

                    T       TMUS        USB           V         VZ        WFC  \
Date
2020-04-29  31.430000  89.309998  38.459999  181.789993  58.119999  30.000000
2020-04-30  30.469999  87.800003  36.500000  178.720001  57.450001  29.049999
2020-05-01  29.900000  86.199997  34.939999  175.570007  56.830002  27.590000
2020-05-04  29.600000  88.959999  34.470001  176.149994  56.240002  27.350000
2020-05-05  29.740000  88.970001  33.540001  178.440002  56.509998  26.320000

                   WMT       WORK          ZM
Date
2020-04-29  123.599998  27.070000  146.479996
2020-04-30  121.550003  26.690001  135.169998
2020-05-01  122.919998  26.379999  138.559998
2020-05-04  123.699997  27.200001  143.440002
2020-05-05  124.730003  27.290001  144.820007

[5 rows x 65 columns]
'SAVE'
Couldn't find SAVE in company_names
'AMC'
Couldn't find AMC in company_names
'WORK'
Couldn't find WORK in company_names
'DOC'
Couldn't find DOC in company_names
'SQ'
Couldn't find SQ in company_names
'SAP'
Couldn't find SAP in company_names
'BABA'
Couldn't find BABA in company_names
'SPOT'
Couldn't find SPOT in company_names
'RNG'
Couldn't find RNG in company_names
'SHOP'
Couldn't find SHOP in company_names

Running program on full nasdaq with period 1y...

[*********************100%***********************]  103 of 103 completed
                  AAPL        ADBE         ADI         ADP        ADSK  \
Date
2019-05-06  205.786469  283.660004  112.578140  156.867920  175.279999
2019-05-07  200.239075  277.070007  111.353722  155.008011  170.720001
2019-05-08  200.278534  276.769989  108.287773  155.830307  171.509995
2019-05-09  198.126709  275.790009  108.287773  157.181168  171.419998
2019-05-10  195.381973  278.480011  108.336746  157.631454  173.770004

                  ALGN        ALXN       AMAT        AMD        AMGN  ...  \
Date                                                                  ...
2019-05-06  329.459991  136.960007  42.417088  27.420000  171.942551  ...
2019-05-07  325.510010  134.520004  41.374123  26.660000  168.844727  ...
2019-05-08  322.869995  133.649994  40.911686  27.090000  167.174454  ...
2019-05-09  323.250000  131.770004  40.281967  27.209999  167.873627  ...
2019-05-10  321.929993  131.690002  40.144222  27.959999  166.883133  ...

                  ULTA        VRSK        VRSN        VRTX        WBA  \
Date
2019-05-06  346.679993  142.416367  197.130005  174.759995  52.135460
2019-05-07  342.359985  139.545990  193.179993  170.279999  51.187893
2019-05-08  348.149994  139.605576  193.149994  169.009995  51.729366
2019-05-09  348.049988  139.545990  193.729996  169.910004  51.787380
2019-05-10  343.239990  139.724762  194.639999  168.850006  51.652004

                  WDAY        WDC        XEL        XLNX  ZOOM
Date
2019-05-06  202.979996  47.561310  55.051159  117.049522   NaN
2019-05-07  198.539993  45.306084  55.119354  116.064339   NaN
2019-05-08  196.919998  44.816650  54.437424  115.946114   NaN
2019-05-09  200.350006  44.547943  54.612778  114.970779   NaN
2019-05-10  203.529999  44.010525  55.733089  115.187523   NaN

[5 rows x 103 columns]
                  AAPL        ADBE         ADI         ADP        ADSK  \
Date
2020-04-29  287.730011  349.170013  113.339996  145.839996  187.899994
2020-04-30  293.799988  353.640015  109.599998  146.690002  187.130005
2020-05-01  289.070007  343.839996  103.639999  140.419998  174.899994
2020-05-04  293.160004  349.109985  103.400002  144.479996  177.800003
2020-05-05  297.559998  356.130005  105.940002  145.820007  180.490005

                  ALGN        ALXN       AMAT        AMD        AMGN  ...  \
Date                                                                  ...
2020-04-29  220.580002  108.449997  54.340000  53.660000  235.690002  ...
2020-04-30  214.850006  107.470001  49.680000  52.389999  239.220001  ...
2020-05-01  203.259995  103.910004  46.889999  49.880001  230.979996  ...
2020-05-04  210.139999  103.839996  47.580002  52.560001  230.910004  ...
2020-05-05  208.610001   98.250000  48.849998  52.189999  236.360001  ...

                  ULTA        VRSK        VRSN        VRTX        WBA  \
Date
2020-04-29  226.160004  153.070007  211.389999  251.050003  45.360001
2020-04-30  217.919998  152.830002  209.490005  251.199997  43.290001
2020-05-01  214.279999  153.449997  205.020004  254.899994  41.660000
2020-05-04  215.479996  154.460007  208.839996  264.690002  42.450001
2020-05-05  218.210007  157.490005  210.550003  272.329987  42.020000

                  WDAY        WDC        XEL       XLNX  ZOOM
Date
2020-04-29  154.770004  47.730000  65.080002  91.699997   NaN
2020-04-30  153.899994  46.080002  63.560001  87.400002   NaN
2020-05-01  146.660004  40.480000  62.180000  82.989998   NaN
2020-05-04  148.470001  39.669998  62.389999  83.239998   NaN
2020-05-05  152.179993  40.340000  63.279999  83.500000   NaN

[5 rows x 103 columns]

Running program on full s&p with period 1y...

[**                     5%                       ]  24 of 505 completed